*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.navbar__Logo {
  width: 150px;
  padding: 10px 0px;
}

.links__socialMedia {
  width: 20px;
  margin: 10px 5px;
}

.sps--abv {
  background-color: transparent;
  color: #fff;
}

.sps--blw {
  background-color: #024;
  color: #fff;
}

nav.sps--abv .navbar__Logo {
  width: 180px;
}

.section__Casino {
  background: url("https://res.cloudinary.com/dukuzakaw/image/upload/v1648349159/javaScript-project/home/banners/casinoBanner_pnxuvr.webp") no-repeat center center;
  background-size: cover;
}

.section__Casino h1 {
  color: #fff;
}

.headerCasino__block {
  padding: 150px 0 100px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.section__ContainerPage {
  padding: 50px 0px;
}

.sectionGames {
  width: 90%;
  margin: auto;
}

.sectionGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin-bottom: 2rem;
}

.sectionGridContainer__card {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.sectionGridContainer__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.gridCardContainer__img {
  width: 100%;
}

.gridCardContainer__info {
  background: #fff;
  border-radius: 15px;
  padding: 0.6rem;
  transform: translateY(-22%);
}

.gridCardContainer__nameDetails {
  display: flex;
  align-items: baseline;
}
.gridCardContainer__nameDetails i {
  font-size: 1.6rem;
  margin-right: 10px;
  color: #024;
}

.cardDetails__title {
  margin: 0;
  font-size: 1.5rem;
  color: #024;
}

.gridCardContainer__access {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridCardContainer__access i {
  font-size: 2rem;
  color: #024;
  margin-right: 1rem;
}

.gridCardContainer__play {
  margin: 1rem 0 0 0.5rem;
  line-height: 1.5;
}
.gridCardContainer__play p {
  margin: 0;
}

.cardContainerPlay__text {
  font-size: 14px;
  color: #7f8c8d;
}

.cardContainerPlay__game {
  color: #024;
  font-size: 1.4rem;
  font-weight: 700;
}

.section__bannerVideo {
  background-image: url("https://res.cloudinary.com/dukuzakaw/image/upload/v1647463628/kaneBootstrap/mobilepics/video-bg_e2sqk0.webp");
  padding: 100px 0;
  position: relative;
}

.blackjackGame {
  background: url("https://res.cloudinary.com/dukuzakaw/image/upload/v1647885805/javaScript-project/blackJack/BlackJack-table_lljasu.webp") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.blackjackGame__participants {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blackjackGame__participants > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  height: 55vh;
  padding: 10px;
}
.blackjackGame__participants > div img {
  width: 20%;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #fff;
}

.blackjackGame__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blackjackGame__buttons button {
  padding: 0.8rem 1.5rem;
}

.blackjackGame__results {
  display: flex;
  justify-content: center;
}
.blackjackGame__results th, .blackjackGame__results td {
  padding: 5px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
}

.gridContainerGame {
  width: 900px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.gridContainerGame img {
  margin: 0.5rem 1rem;
}

.section__Memory {
  background: url("https://res.cloudinary.com/dukuzakaw/image/upload/v1648645407/javaScript-project/memoryGame/games_ukdiff.webp") no-repeat center center;
  background-size: cover;
}

.headerMemory__block {
  padding: 50px 0 50px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.navbarMemoryGame {
  position: absolute;
  text-decoration: none;
  top: 15px;
  left: 15px;
}

.buttonMemoryGame {
  position: absolute;
  top: 15px;
  right: 15px;
}
